function Graphics.drawBackground 0
    call Graphics.drawVeritcalSides 0
    pop temp 0
    call Graphics.drawHorizontalSides 0
    pop temp 0
    push constant 0
    return
function Graphics.drawVeritcalSides 3
    push constant 1
    pop local 0
    push constant 15
    pop local 1
label Graphics_0
    push local 0
    push local 1
    lt
    not
    if-goto Graphics_1
    push constant 512
    push local 0
    call Math.multiply 2
    pop local 2
    push local 2
    call Graphics.drawBackgroundBlock 1
    pop temp 0
    push constant 31
    push local 2
    add
    call Graphics.drawBackgroundBlock 1
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Graphics_0
label Graphics_1
    push constant 0
    return
function Graphics.drawHorizontalSides 3
    push constant 0
    pop local 0
    push constant 32
    pop local 1
    push constant 512
    push constant 15
    call Math.multiply 2
    pop local 2
label Graphics_2
    push local 0
    push local 1
    lt
    not
    if-goto Graphics_3
    push local 0
    call Graphics.drawBackgroundBlock 1
    pop temp 0
    push local 2
    push local 0
    add
    call Graphics.drawBackgroundBlock 1
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Graphics_2
label Graphics_3
    push constant 0
    return
function Graphics.drawBackgroundBlock 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 32631
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 22527
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 30559
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 32759
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 28383
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 32635
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 31727
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 28663
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 32639
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 23999
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 32621
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 27647
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 16095
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 30717
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Graphics.drawPlayer 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 32767
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 32767
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 24583
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 28663
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 28663
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 27703
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 28087
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 28087
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 27703
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 28663
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 28663
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 24583
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 32767
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32767
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Graphics.erasePlayer 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push constant 0
    return