function Graphics.drawBackground 0
    call Graphics.drawVeritcalSides 0
    pop temp 0
    call Graphics.drawHorizontalSides 0
    pop temp 0
    push constant 0
    return
function Graphics.drawVeritcalSides 3
    push constant 1
    pop local 0
    push constant 15
    pop local 1
label Graphics_0
    push local 0
    push local 1
    lt
    not
    if-goto Graphics_1
    push constant 512
    push local 0
    call Math.multiply 2
    pop local 2
    push local 2
    call Graphics.drawBackgroundBlock 1
    pop temp 0
    push constant 31
    push local 2
    add
    call Graphics.drawBackgroundBlock 1
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Graphics_0
label Graphics_1
    push constant 0
    return
function Graphics.drawHorizontalSides 3
    push constant 0
    pop local 0
    push constant 32
    pop local 1
    push constant 512
    push constant 15
    call Math.multiply 2
    pop local 2
label Graphics_2
    push local 0
    push local 1
    lt
    not
    if-goto Graphics_3
    push local 0
    call Graphics.drawBackgroundBlock 1
    pop temp 0
    push local 2
    push local 0
    add
    call Graphics.drawBackgroundBlock 1
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Graphics_2
label Graphics_3
    push constant 0
    return
function Graphics.drawBackgroundBlock 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 32631
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 22527
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 30559
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 32759
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 28383
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 32635
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 31727
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 28663
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 32639
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 23999
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 32621
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 27647
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 16095
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 30717
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Graphics.drawPlayer 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 32767
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 32767
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 24583
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 28663
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 28663
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 27703
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 28087
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 28087
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 27703
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 28663
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 28663
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 24583
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 32767
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 32767
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Graphics.isTileOccupied 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    call Memory.peek 1
    push constant 0
    eq
    not
    not
    if-goto Graphics_5
    push constant 1
    neg
    return
    goto Graphics_4
label Graphics_5
label Graphics_4
    push local 0
    push constant 32
    add
    call Memory.peek 1
    push constant 0
    eq
    not
    not
    if-goto Graphics_7
    push constant 1
    neg
    return
    goto Graphics_6
label Graphics_7
label Graphics_6
    push local 0
    push constant 64
    add
    call Memory.peek 1
    push constant 0
    eq
    not
    not
    if-goto Graphics_9
    push constant 1
    neg
    return
    goto Graphics_8
label Graphics_9
label Graphics_8
    push local 0
    push constant 96
    add
    call Memory.peek 1
    push constant 0
    eq
    not
    not
    if-goto Graphics_11
    push constant 1
    neg
    return
    goto Graphics_10
label Graphics_11
label Graphics_10
    push local 0
    push constant 128
    add
    call Memory.peek 1
    push constant 0
    eq
    not
    not
    if-goto Graphics_13
    push constant 1
    neg
    return
    goto Graphics_12
label Graphics_13
label Graphics_12
    push local 0
    push constant 160
    add
    call Memory.peek 1
    push constant 0
    eq
    not
    not
    if-goto Graphics_15
    push constant 1
    neg
    return
    goto Graphics_14
label Graphics_15
label Graphics_14
    push local 0
    push constant 192
    add
    call Memory.peek 1
    push constant 0
    eq
    not
    not
    if-goto Graphics_17
    push constant 1
    neg
    return
    goto Graphics_16
label Graphics_17
label Graphics_16
    push local 0
    push constant 224
    add
    call Memory.peek 1
    push constant 0
    eq
    not
    not
    if-goto Graphics_19
    push constant 1
    neg
    return
    goto Graphics_18
label Graphics_19
label Graphics_18
    push local 0
    push constant 256
    add
    call Memory.peek 1
    push constant 0
    eq
    not
    not
    if-goto Graphics_21
    push constant 1
    neg
    return
    goto Graphics_20
label Graphics_21
label Graphics_20
    push local 0
    push constant 288
    add
    call Memory.peek 1
    push constant 0
    eq
    not
    not
    if-goto Graphics_23
    push constant 1
    neg
    return
    goto Graphics_22
label Graphics_23
label Graphics_22
    push local 0
    push constant 320
    add
    call Memory.peek 1
    push constant 0
    eq
    not
    not
    if-goto Graphics_25
    push constant 1
    neg
    return
    goto Graphics_24
label Graphics_25
label Graphics_24
    push local 0
    push constant 352
    add
    call Memory.peek 1
    push constant 0
    eq
    not
    not
    if-goto Graphics_27
    push constant 1
    neg
    return
    goto Graphics_26
label Graphics_27
label Graphics_26
    push local 0
    push constant 384
    add
    call Memory.peek 1
    push constant 0
    eq
    not
    not
    if-goto Graphics_29
    push constant 1
    neg
    return
    goto Graphics_28
label Graphics_29
label Graphics_28
    push local 0
    push constant 416
    add
    call Memory.peek 1
    push constant 0
    eq
    not
    not
    if-goto Graphics_31
    push constant 1
    neg
    return
    goto Graphics_30
label Graphics_31
label Graphics_30
    push local 0
    push constant 448
    add
    call Memory.peek 1
    push constant 0
    eq
    not
    not
    if-goto Graphics_33
    push constant 1
    neg
    return
    goto Graphics_32
label Graphics_33
label Graphics_32
    push local 0
    push constant 480
    add
    call Memory.peek 1
    push constant 0
    eq
    not
    not
    if-goto Graphics_35
    push constant 1
    neg
    return
    goto Graphics_34
label Graphics_35
label Graphics_34
    push constant 0
    return
function Graphics.erasePlayer 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Graphics.drawFood 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 1632
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 1440
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 1056
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 1056
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 960
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 4081
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 30703
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 18450
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 18450
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 30703
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 4081
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 960
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 1056
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 1056
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 1440
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1632
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Graphics.eraseFood 1
    push constant 16384
    push argument 0
    add
    pop local 0
    push local 0
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push constant 0
    return